/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
1                       ICON                    "Icons\\sudoku8.ico"

#define RT_MANIFEST 24

/////////////////////////////////////////////////////////////////////////////
//
// 24
//
1                       RT_MANIFEST             "Manifest\\sudoku.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//
1                       CURSOR                  "Cursors\\PntHand.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap 1 Game Level                                       'gif geht nicht
//
11                      BITMAP                  "Bitmaps\\SunDark.bmp"  

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap 2 Game Level                                       'gif geht nicht
//
12                      BITMAP                   "Bitmaps\\SunBright.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap animation 00
//
101                     BITMAP                  "Bitmaps\\Sudoku_00.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap animation 09
//
102                     BITMAP                  "Bitmaps\\Sudoku_09.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap animation 18
//
103                     BITMAP                  "Bitmaps\\Sudoku_18.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap animation 27
//
104                     BITMAP                  "Bitmaps\\Sudoku_27.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap animation 36
//
105                     BITMAP                  "Bitmaps\\Sudoku_36.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap Gripper Block
//
201                     BITMAP                  "Bitmaps\\GrpBlck.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap Gripper Line
//
202                     BITMAP                  "Bitmaps\\GrpLine.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap Gripper Column
//
203                     BITMAP                  "Bitmaps\\GrpColm.bmp"

#include "TextFile\\Sudokus.txt"